<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yaokantv.sdkdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.yaokantv.sdkdemo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:supportsRtl">
        <activity android:name="com.yaokantv.yaokanui.RoadListActivity"></activity>
        <activity android:name="com.yaokantv.yaokanui.GfskMatchActivity" />
        <activity android:name="com.yaokantv.yaokanui.SelectGfskModeActivity" />
        <activity android:name="com.yaokantv.yaokanui.RoomMsgActivity"></activity>
        <activity android:name="com.yaokantv.yaokanui.DeviceListActivity" />
        <activity android:name="com.yaokantv.yaokanui.SoftApConfigActivity" />
        <activity android:name="com.yaokantv.sdkdemo.AppleCtrlListActivity" />
        <activity android:name="com.yaokantv.sdkdemo.RfMatchActivity" />
        <activity android:name="com.yaokantv.sdkdemo.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yaokantv.sdkdemo.MatchActivity"
            android:label="一级匹配" />
        <activity
            android:name="com.yaokantv.sdkdemo.SecondMatchActivity"
            android:label="二级匹配" />
        <activity
            android:name="com.yaokantv.yaokanui.RcListActivity"
            android:label="遥控器列表" />
        <activity
            android:name="com.yaokantv.sdkdemo.RcActivity"
            android:label="遥控器详情"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yaokantv.sdkdemo.BrandActivity"
            android:label="遥控器品牌" />
        <activity
            android:name="com.yaokantv.sdkdemo.SelectProviderActivity"
            android:label="电视运营商" />
        <activity android:name="com.yaokantv.sdkdemo.MainActivity" />
        <activity android:name="com.yaokantv.yaokanui.SelectDeviceActivity" />
        <activity android:name="com.yaokantv.yaokanui.BrandListActivity" />
        <activity android:name="com.yaokantv.yaokanui.SelectProviderActivity" />
        <activity android:name="com.yaokantv.yaokanui.NewMatchActivity" />
        <activity android:name="com.yaokantv.yaokanui.RcActivity" />
        <activity android:name="com.yaokantv.yaokanui.SettingActivity" />
        <activity android:name="com.yaokantv.yaokanui.SecondMatchActivity" />
    </application>

</manifest>